<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>

  <% include ../partials/navbar %>

  <div id="website-info" class="col s12">
    <% include ../partials/website-info %>
  </div>
  <div id="pricing" class="col s12">
    <% include ../partials/pricing %>
  </div>
  <div id="content" class="col s12">
    <% include ../partials/content %>
  </div>
  <div id="image" class="col s12">
    <% include ../partials/image %>
  </div>
  <div id="form" class="col s12">
    <% include ../partials/form %>
  </div>
</body>

</html>