<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

  <% include ../partials/navbar %>

  <div id="website-info" class="col s12">
    <% include ../partials/website-info %>
  </div>
  <div id="test3" class="col s12">
    Test 3
  </div>
  <div id="test4" class="col s12">
    Test 4
  </div>
</body>

</html>