<h1>Register</h1>

<form action="/auth/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="Submit Now!">
</form>

<ul>
    <li><a href="/auth/register">Register</a></li>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/logout">Logout</a></li>
</ul>
