<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="icon" type="image/png" href="/images/logo_bem.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <div class="container center-align">
    <h1>Register</h1>
    <form action="/admin/auth/register" method="POST">
      <div class="row">
        <div class="input-field col s10 offset-s1 m6 offset-m3 l4 offset-l4">
          <input id="email" type="email" name="username" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s10 offset-s1 m6 offset-m3 l4 offset-l4">
          <input id="password" type="password" name="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s10 offset-s1 m6 offset-m3 l4 offset-l4">
          <input id="token" type="text" name="token" class="validate">
          <label for="token">Token</label>
        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right">send</i>REGISTER</button>
    </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>

</html>
