<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="#test1">Sass</a>
      </li>
      <li>
        <a href="badges.html">Components</a>
      </li>
      <li>
        <a href="collapsible.html">JavaScript</a>
      </li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab">
        <a class="active" href="#website-info">Website Info</a>
      </li>
      <li class="tab">
        <a href="#pricing">Pricing</a>
      </li>
      <li class="tab">
        <a href="#content">Content</a>
      </li>
      <li class="tab">
        <a href="#image">Image</a>
      </li>
      <li class="tab">
        <a href="#form">Form</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <a href="sass.html">Sass</a>
  </li>
  <li>
    <a href="badges.html">Components</a>
  </li>
  <li>
    <a href="collapsible.html">JavaScript</a>
  </li>
</ul>

<script>
  $(document).ready(() => {
    M.Tabs.init(document.querySelector('.tabs'), {})
    M.Sidenav.init(document.querySelectorAll('.sidenav'), {})
  })
</script>