* {
  color: white;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

form {
  font-size: 0.9em;
}

.desc {
  margin: 3em 0;
  font-size: 1.35em;
}

body {
  background: black;
}

.signtext {
  background: black;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  height: 100vh;
}

.signtextbox {
  color: white;
  text-align: center;
  top: 50%;
  font-size: 60%;
  font-weight: 300;
}

p {
  text-align: center;
}

.btn {
  margin-top: 10% !important;
}