* {
  color: white;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

*:focus {
  outline: none;
}

.desc {
  margin: 3em 0;
}

.signtext {
  background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgb(0, 0, 0, 0.712)), url(../../images/firework.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.signtextbox {
  color: white;
  text-align: center;
  top: 50%;
  font-size: 60%;
  font-weight: 300;
}

p {
  text-align: center;
}

.btn {
  margin-top: 10% !important;
}